<div class="login-page">
  <div class="form">
    <form class="login-form" id="login-form">
      <img src="/images/logo.png">
      <input type="text" placeholder="username" id="username"/>
      <input type="password" placeholder="password" id="pass"/>
      <button>login</button>
    </form>
  </div>
</div>