<div class="aa_htmlTable">
  <h2 class="aa_h2">Şirketler</h2>
  <table>
    <thead>
      <tr>
        <th>İsmi</th>
        <th>E-posta</th>
        <th>Yaratılma Tarih</th>
        <th>Durumu</th>
        <th>-</th>
      </tr>
    </thead>
    <tbody>
    	<% theChatRooms.forEach(function(data) { %>
		 <tr>
          <td><%= data.name %></td>
          <td><%= data.email %></td>
          <td><%= data.time %></td>
          <% if (data.status=="1") { %>
          <td><span class="btn btn-success">Açık</span></td>
          <% }else if (data.status=="2"){ %>
          <td><span class="btn btn-success">Bloklu</span></td>
          <% }else{ %>
          <td><span class="btn btn-success">Kapalı</span></td>
          <% } %>
          <td><a href="agents?id=<%= data.companyId %>">Temsilciler</a></td>
	     </tr>
		<% }) %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>


